<section>
  <h1>Vill du bli funktionär?</h1>

  <hr>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  <p>Efter mässan får alla funktionärer gå gratis på kvällsminglet som annars endast är tillgängligt för de studenter som får en biljett av företagen under mässan. Alla funktionärer kommer även få gå på Teknikfokus tackfest som kommer att ske senare under våren.</p>

  <%= render 'officials/form' %>
</section>
