<section>
  <h1>Funktionärsanmälan stängd</h1>
  <!-- <h1>Vill du bli funktionär?</h1> -->

  <hr>

  <p>Vi ses den 12:e!</p>

<!--   <p>Teknikfokus är en årlig arbetsmarknadsmässa som arrangeras av Datateknik, Elektroteknik, Informations- &amp; Kommunikationsteknik samt Medicin &amp; Teknik.</p>

  <p>Att vara funktionär på Teknikfokus innebär en unik möjlighet att få en personlig kontakt med företag inom just din utbildning.</p>

  <p>Som värd får du: Frukost, lunch, biljett till kvällens festligheter och en Teknikfokus-piké.</p> -->

  <%#= render 'officials/form' %>
</section>
