<%= render 'header' %>

<section>
  <h1>Tack för din anmälan!</h1>

  <hr>
</section>

<script type="text/javascript">
  setTimeout(function(){
    window.location = '<%= new_official_path %>';
  }, 10000);
</script>
