$main_color: #18B2D6;
$font_heading: BanqueGothique, sans-serif;
$font_body: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;;

@import "normalize";
@import "bourbon";
@import "core";
@import "forms";
@import "contact";
