.countdown {
  margin-top: 40px;
  text-align: center;

  @include mobile {
    display: none;
  }

  div {
    display: inline-block;
    margin: 10px;
    background-color: #87CEEB;
    padding: 10px;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    height: 100px;
    width: 100px;

    time {
      display: block;
      font-size: 75px;
    }
  }
}
