.map iframe {
  margin-top: 2em;
  margin-bottom: 2em;
}

.schema table {
  margin: auto;
  text-align: left;
  font-size: 1.3em;

  td {
    padding-right: 0.4em;
  }
}

.numbers table {
  margin: auto;
  text-align: left;
  font-size: 1.2em;

  td {
    padding-right: 0.4em;
  }
}
