<header>
  <%= link_to(image_tag("logo.svg"), root_path) %>

  <h2><%= I18n.l(Settings.date, format: :long) %> 10:00-16:00</h2>

  <h2>
    <a class="catalogue" href="https://s3-eu-west-1.amazonaws.com/teknikfokus/katalog.pdf">Ladda ner katalogen!</a>
  </h2>
</header>
